<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.yoga">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Yoga"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".forgot"
            android:exported="false" />
        <activity
            android:name=".customdob"
            android:exported="false" />
        <activity
            android:name=".customcomp"
            android:exported="false" />
        <activity
            android:name=".Askdoubt"
            android:exported="false" />
        <activity
            android:name=".Trainer"
            android:exported="false" />
        <activity
            android:name=".Doubt"
            android:exported="false" />
        <activity
            android:name=".Userhome"
            android:exported="false" />
        <activity
            android:name=".sendcomplaint"
            android:exported="false" />
        <activity
            android:name=".Complaint"
            android:exported="false" />
        <activity
            android:name=".Video"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>